.total{
    display: grid;
    grid-template-rows: 2fr 0.1fr 4fr 1fr;
    margin: auto;
}
header{
    display: grid;
    background-color: rgba(139, 39, 3, 0.918);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    padding: 15px;
    border: solid #353535 1.5px;
    height: 100px;
    position: sticky;
    top: 0;
}
.buscador{
    text-align: right;
    margin-bottom: 20px;
}
.logo{
    margin: auto;
    height: 100px;
}
.titulos{
    margin: auto;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
body{
    background-image: url(../img/fondo2.jpg);
}
section{
    display: grid;
    grid-template-columns:1fr 3fr;
    margin-top: px;
    gap: 20px;
    border: solid white 1px;
    padding: 25px;
    margin-top: 30px;

}
.album{
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    margin-left: 20px;
}
.fotoAlbum{
    height: 200px;
    margin: auto;
}
.nombreAlbum{
    color: white;
    font-size: 25px;
    margin: auto;
}
.info{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr;
}
h1{
    font-size: 40px;
    color: white;
    line-height: 1;
}
h2{
    text-align: left;
    line-height: 0;
}
.h2{
    font-size: 30px;
    color: white;
    text-align: left;
}
.agregados{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.boton-play{
    height: 80px;
}
.duracion{
    font-size: 30px;
    color: white;
}
.agregar{
    height: 60px;
    width: 200px;
    border-radius: 20px;
    align-items: left;
}
footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.AgusLerej{
    margin: auto;
}
.facebook{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.twitter{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.deezer{
    height: 30x;
    margin: auto;
    padding: 5px;
}
.redesSociales{
    text-align: right;
    padding-right: 10px;
}
@media(max-width: 768px){
    header{
        position: static;
        header: 100px;
    }
    .titulos{
        font-size: 25px;
    }
    .total{
        display: grid;
        grid-template-rows: 0.4fr 1.5fr 0.2fr;
    }
    .logo{
        height: 75px;
    }
    .album{
        grid-template-rows: 0.5fr 0.02fr;
    }
    .info{
        grid-template-rows: 0.2fr 0.2fr 0.2fr;
    }
    .nombreAlbum{
        font-size: 20px;
    }
    h1{
        font-size: 30px;
    }
    .h2{
        font-size: 25px;
    }
    .agregados{
        margin: auto;
    }
    .boton-play{
        height: 60px;
    }
    .duracion{
        font-size: 20px;
    }
    
    footer{
        margin-top: 10px;
    }
    .AgusLerej{
        font-size: 12px;
        margin: auto;
    }
    .facebook{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .twitter{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .deezer{
        height: 15px;
        margin: auto;
        padding: 5px;
    }
}
@media(max-width: 320px){
    .total{
        grid-template-rows: 0.3fr 0.1fr 0.5fr 0.01fr ;
    }
    header{
        display: grid;
        grid-template-columns: none; 
        align-items: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        font-size: 8px;
        height: 150px;
    }
    .logo{
        height: 50px;
        margin: auto;
    }
    section{
        grid-template-rows: 1fr 0.8fr;
        grid-template-columns: none;
        gap: 10px;
        border: solid white 1px;
        margin-top: 50px;
        border: transparent;
        position: relative;
        bottom: 50px;
    
    }
    .album{
        margin: auto;
    }
    .fotoAlbum{
        height: 150px;
        
    }
    h1{
        font-size: 25px;
        line-height: 0.6;
    }
    .h2{
        font-size: 20px;
    }
    .agregados{
        gap: 20px;
    }
    .agregar{
        width: 60px;
        height: 60px;
        position: relative;
        top: 10px;
        right: 10px;
        width: 100%;
        
    }
    .AgusLerej{
        font-size: 10px;
    }
    .facebook{
        height: 10px;
    }
    .twitter{
        height: 10px;
    }
    .deezer{
        height: 15px;
        margin: auto;
    }
    footer{

    }
    .buscador{
        margin-top: 20px;
    }
}