.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader > img {
    width: 100px;
}
.loader.hidden {
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.total{
    display: grid;
    grid-template-rows: 2fr 0.1fr 18fr 0.2fr;
}
header{
    display: grid;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 21%, rgba(213,9,9,0.7119368865710347) 30%, rgba(255,42,86,0.6895279229856005) 100%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    padding: 15px;
    border: solid #353535 1.5px;
    height: 100px;
    position: sticky;
    top: 0;
}
.buscador{
    margin-top: 10px;
    text-align: right;
}
h1{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
h2{
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    margin: auto;
    height: 100px;
}
.titulos{
    margin: auto;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
body{
    background-image: url(../img/fondo2.jpg);
}
.artists{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.nombre{
    color:white;
    font-size: 30px;
}
footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}
.AgusLerej{
    margin: auto;
}
.facebook{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.twitter{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.deezer{
    height: 30x;
    margin: auto;
    padding: 5px;
}
.redesSociales{
    text-align: right;
    padding-right: 10px;
}
@media(max-width: 768px){
    header{
        position: static;
    }
    .titulos{
        font-size: 25px;
    }
    .total{
        display: grid;
        grid-template-rows: 2fr 0.1fr 20fr 0.2fr;
    }
    .logo{
        height: 75px;
    }
    h1{
        font-size: 40px;
        text-align: center;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 10px;
    }
    .artists{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    img{
        height: 200px;
    }
    .AgusLerej{
        font-size: 12px;
        margin: auto;
    }
    .facebook{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .twitter{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .deezer{
        height: 15px;
        margin: auto;
        padding: 5px;
    }
}
@media(max-width: 320px){
    header{
        display: grid;
        grid-template-columns: none; 
        align-items: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        font-size: 8px;
        height: 150px;
        width: auto;
    }
    .titulos{
        border-top: solid rgba(0, 0, 0, 0.5);
        width: 100%;
       text-align: center;
    }
    .logo{
        height: 50px;
        margin: auto;
    }
    .total{
        display: grid;
        grid-template-rows: 0.3fr 0.1fr 4fr 0.3fr;
    }
    .artists{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    img{
        height: 100px;
    }
    .nombre{
        font-size: 15px;
    }
}