.total{
    display: grid;
    grid-template-rows: 2fr 0.1fr 14fr 0.2fr;
}
header{
    display: grid;
    background-color: rgba(139, 39, 3, 0.918);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    padding: 15px;
    border: solid #353535 1.5px;
    height: 100px;
    position: sticky;
    top: 0;
}
.buscador{
    margin-top: 10px;
    text-align: right;
}
.logo{
    margin: auto;
    height: 100px;
}
.titulos{
    margin: auto;
}
.agregar{
    margin: auto;
    height: 40px;
    width: 120px;
    border-radius: 20px; 
}
body{
    background-image: url(../img/fondo2.jpg);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
section{
    display: grid;
    grid-template-rows: 2fr 0.4fr;
    margin-top: 10px;
}
.arriba{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
    gap: 10px;
}
.izquierda{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
}
.fotoArtista{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: white;
    text-align: center;
}
.fans{
    color: white;
    margin-left: 10px;
}
.derecha{
    display: grid;
    grid-template-rows: 1fr 5fr;
}
h2{
    color: white;
    text-align: center;
    font-size: 40px;
}
li{
    list-style: none;
    border: solid black 1px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.boton-play{
    height: 50px;
    margin: auto;
    cursor: pointer;
}
.nombre{
    text-align: left;
}

ul{
    background-color: rgba(255, 68, 0, 0.61);
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
iframe{
    height: 90px;
    width: 100%;
    border-radius: 15px;
}
.albumes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.album{
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}
.AgusLerej{
    margin: auto;
}
.facebook{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.twitter{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.deezer{
    height: 30x;
    margin: auto;
    padding: 5px;
}
.redesSociales{
    text-align: right;
    padding-right: 10px;
}
@media(max-width: 768px){
    .total{
        grid-template-rows: 0.3fr 0.1fr 2fr 0.2fr;
    }
    header{
        height: 100px;
        position: static;
    }
    .logo{
        height: 75px ;
    }
    .titulos{
        font-size: 25px;
    }
    section{
        grid-template-rows: 1fr 0.2fr;
    }
    .derecha{
        grid-template-rows: 0.1fr 1.5fr;
    }
    .fotospinetta{
        height: 200px;
    }
    .boton-play{
        height: 40px;
    }
    .nombre{
        font-size: 20px;
    }
    h2{
        font-size: 30px;
    }
    .album{
        height: 100px;
    }
    .AgusLerej{
        font-size: 12px;
        margin: auto;
    }
    .facebook{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .twitter{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .deezer{
        height: 15px;
        margin: auto;
        padding: 5px;
    }
}
@media(max-width: 320px){
    header{
        display: grid;
        grid-template-columns: none; 
        align-items: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        font-size: 8px;
        height: 150px;
    }
    .logo{
        height: 50px;
        margin: auto;
    }
    .total{
        grid-template-rows: 0.3fr 0.1 0.5fr 0.2fr;
    }
}