
header{
    display: grid;
    background: rgb(0,0,0);
    background: linear-gradient(60deg, rgba(0,0,0,1) 13%, rgba(213,9,9,0.7119368865710347) 30%, rgba(255,42,86,0.6895279229856005) 100%);    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Archivo', sans-serif;
    font-size: 30px;
    padding: 15px;
    border: solid #353535 1.5px;
    height: 100px;
    position: sticky;
    top: 0;
    border-radius: 10px;
}
.buscador{
    text-align: right;
    margin-top: 10px;
}
.total{
    display: grid;
    grid-template-rows: 2fr 0.1fr 7.2fr 0.2fr;
}
.logo{
    margin: auto;
    height: 100px;
}
iframe{
    margin-left: 5px;
    margin-top: 5px;
    height: 90px;
    width: 100%;
    border-radius: 15px;
}
.titulos{
    margin: auto;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.agregar{
    margin: auto;
    height: 40px;
    border-radius: 20px;
    color: white;
}
body{
    background-image: url(../img/fondo2.jpg);
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(116, 113, 113, 0.281) ;
    padding: 25px;
    margin-top: 30px;
}
.album{
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    margin-left: 20px;
}
.fotoAlbum{
    height: 200px;
    margin: auto;
}
.nombreAlbum{
    color: white;
    font-size: 25px;
    margin: auto;
}
.info{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr;
}
h1{
    font-size: 30px;
    color: white;
    
    text-align: center;
    
}
h2{
    text-align: center;
    line-height: 0;
}
.h2{
    font-size: 30px;
    color: white;
    text-align: left;
}
.agregados{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.61);
    border: solid #353535 1.5px;
    height: 100px;
    width: 100%;
}
.boton-play{
    height: 80px;
}
.duracion{
    font-size: 20px;
    color: white;
    margin: auto;
}
{margin: auto;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    align-items: left;
}
footer{
    background: rgb(213,9,9);
    background: linear-gradient(90deg, rgba(213,9,9,1) 12%, rgba(130,98,98,1) 48%, rgba(255,42,86,1) 100%);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 10px;
}
.AgusLerej{
    margin: auto;
}
.facebook{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.twitter{
    height: 20px;
    margin: auto;
    padding: 10px;
}
.deezer{
    height: 30x;
    margin: auto;
    padding: 5px;
}
.redesSociales{
    text-align: right;
    padding-right: 10px;
}
@media(max-width: 768px){
    header{
        position: static;
        header: 100px;
    }
    .titulos{
        font-size: 25px;
    }
    .total{
        display: grid;
        grid-template-rows: 0.3fr 0.1fr 1.5fr 0.2fr;
    }
    .logo{
        height: 75px;
    }
    .album{
        grid-template-rows: 0.5fr 0.02fr;
        margin-left: 0px;
    }
    .info{
        grid-template-rows: 0.2fr 0.2fr 0.2fr;
    }
    .nombreAlbum{
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }
    .h2{
        font-size: 25px;
    }
    .agregar{
        margin-left: 30px;
    }
    .agregados{
        margin: auto;
        width: 500px;
    }
    .boton-play{
        height: 60px;
    }
    .duracion{
        font-size: 20px;
        
    }
    
    footer{
        margin-top: 10px;
    }
    .AgusLerej{
        font-size: 12px;
        margin: auto;
    }
    .facebook{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .twitter{
        height: 10px;
        margin: auto;
        padding: 5px;
    }
    .deezer{
        height: 15px;
        margin: auto;
        padding: 5px;
    }
}
@media(max-width: 320px){
    .total{
        grid-template-rows: 0.3fr 0.1fr 0.5fr 0.01fr ;
    }
    header{
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(213,9,9,0.7119368865710347) 30%, rgba(255,42,86,0.6895279229856005) 100%);
        display: grid;
        grid-template-columns: none; 
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 21%, rgba(213,9,9,0.7119368865710347) 46%, rgba(255,42,86,0.6895279229856005) 100%);
        align-items: center;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        font-size: 8px;
        height: 150px;
    }
    .titulos{
        border-top: solid rgba(0, 0, 0, 0.5);
        width: 100%;
       text-align: center;
    }
    .logo{
        height: 50px;
        margin: auto;
    }
    section{
        grid-template-rows: 0.8fr 0.8fr;
        grid-template-columns: none;
        gap: 10px;
        border: solid white 1px;
        margin-top: 50px;
        border: transparent;
        position: relative;
        bottom: 50px;
        width: 200px;
    }
    .album{
        text-align: center;
      
    }
    .fotoAlbum{
        text-align: center;
        height: 150px;   
    }
    h1{
        font-size: 25px;
        line-height: 0.6;   
    }
    .h2{
        font-size: 20px;   
    }
    .agregar{
        height: 60px;        
    }
    .agregados{
        height: 100%;
        width: 200px;
        grid-template-rows: 1fr 0.2fr;
        grid-template-columns: 1fr;
    }
    iframe{
        width: 90px;
        margin: auto;
    }
    .AgusLerej{
        font-size: 10px;
    }
    .facebook{
        height: 10px;
    }
    .twitter{
        height: 10px;
    }
    .deezer{
        height: 15px;
        margin: auto;
    }
    footer{

    }
    .buscador{
        margin-top: 20px;
    }
}