.total{
    display: grid;
    grid-template-rows: 0.1fr 1fr 6fr 0.1fr 1fr;
}
header{
    display: grid;
    background-color: rgba(255, 68, 0, 0.61);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    border: solid #353535 1.5px;    
    
}
.logo{
    margin: auto;
}
.titulos{
    margin: auto;
}

body{
    background-image: url(../img/fondo2.jpg);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
.deezer{
    text-align: right;
    padding-right: 10px;
}
.arriba{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    color: white;
}
.fotospinetta{
    text-align: right;
    object-fit: cover;
    width: 470px;
}
.contenido{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin-top: 5px;
}
.texto{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1.5fr 0.5fr;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.albumes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}
@media(max-width: 768px){
    .titulos{
        font-size: 25px;
    }
    .AgusLerej{
        font-size: 12px;
        margin: auto;
    }
    p{
        font-size: 12px;
    }
    .conetido{
        grid-template-columns: 1fr;
    }
    .fotospinetta{
       display: none;
    }
    .texto{
        background-image: url(../img/spinettadetail.jpg);
    }
    .arriba{
        display:none
    }
    .total{
        grid-template-rows: 0.2fr 5fr 0.2fr;
    }
}
@media(max-width: 320px){
    header{
        display: grid;
        grid-template-columns: none; 
        align-items: center;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        font-size: 8px;
    }
    .total{
        grid-template-rows: 1fr 4fr 0.2fr;
    }
}