header{
    display: grid;
    background-color: rgba(255, 68, 0, 0.61);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    border: solid #353535 1.5px;
}
.logo{
    margin: auto;
}
.titulos{
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-image: url(../img/fondo2.jpg);
}
.arriba{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    color: white;

}
footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
.deezer{
    text-align: right;
    padding-right: 10px;
}
.generos{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
}
.fila{
    margin: auto;
}
.portadagenero{
    border-radius: 10px;
    margin: 20px;
}
.fila{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: center;
}
h1{
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width: 768px){
    .AgusLerej{
        font-size: 12px;
        margin: auto;
    }
    .arriba{
        display: none;
    }
  .fila{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1f 1fr 1fr;
        margin-bottom: -20px;
    }
    footer{
        margin-top: 45px;
    }
}
@media(max-width:320px){
    header{
        display: grid;
        grid-template-columns: none; 
        align-items: center;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
        font-size: 25px;
    }
    .fila{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .portadagenero{
        height: 100px;
    }
}