header{
    display: grid;
    background-color: rgba(255, 68, 0, 0.822);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border-radius: 10px;
    
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.triple{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;

    gap: 20px;
    height: 400px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.tracks{
border: white 1px;
    display: grid;
     grid-template-rows: 1fr 10fr;
     gap: 15px;
     text-align: center;
     
}
.tracksarriba{
    background-color: rgba(255, 68, 0, 0.822);
    border-radius: 10px;
}
.abajo{
    background-color: rgba(255, 68, 0, 0.822);
    border-radius: 10px;
}

.albums{
    border: white 1px;
    border-radius: 10px;
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr 10fr;
}
.arribaalbum{
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.822);

}
.abajo2{
    background-color: rgba(255, 68, 0, 0.822);
    border-radius: 10px;
}
.artist{
    border: white 1px;
    border-radius: 10px;
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr 10fr;
}
.arriba{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    border: white 1px;
    background-color: white;
    border-radius: 5px;

}
.ArtistArriba{
    background-color: rgba(255, 68, 0, 0.822);
    border-radius: 10px;
}
.abajo3{
    background-color: rgba(255, 68, 0, 0.822);
    border-radius: 10px;
}