header{
    display: grid;
    background-color: rgba(255, 68, 0, 0.61);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    border: solid #353535 1.5px;    
}
.logo{
    margin: auto;
}
.titulos{
    margin: auto;
}
body{
    background-image: url(../img/fondo2.jpg);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.intermedio{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 40px;
    gap: 20px;
}
.premio{
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.61);
    border: solid #353535 1.5px;
    margin-top: 10px;
}
.buscador{
    border-radius: 10px;
    border: solid #353535 1.5px;
    background-color: rgba(182, 178, 178, 0.89);
    margin-top: 10px;
}
.carrusel{
    background-color: grey;
    height: 300px;
    border-radius: 10px;
    border: solid #353535 1.5px;
    margin-top: 10px;
    text-align: center;
}
.triple{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;

    gap: 20px;
    height: 400px;
    text-align: center;
}
.tracks{
    display: grid;
     grid-template-rows: 1fr 10fr;
     gap: 8px;
     text-align: center;
     
}
.semititulos{
    background-color: rgba(255, 68, 0, 0.61);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #353535 1.5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
.abajo{
    background-color: rgba(255, 68, 0, 0.61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    border: solid #353535 1.5px;
}

.albums{
    border: white 1px;
    border-radius: 10px;
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 10fr;
}

.abajo2{
    background-color: rgba(255, 68, 0, 0.61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    border: solid #353535 1.5px;
}
.artist{
    border: white 1px;
    border-radius: 10px;
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 10fr;
}

.abajo3{
    background-color: rgba(255, 68, 0, 0.61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    border: solid #353535 1.5px;
}
.arriba{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    color: white;
}
footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
.deezer{
    text-align: right;
    padding-right: 10px;
    
}
.trackblock{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    border-bottom: solid black;
    
}
.albumblock{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    border-bottom: solid black;
}
.artistblock{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    border-bottom: solid black;
}
@media(max-width: 768px){
    .titulos{
        font-size: 25px;
    }
    .logo{
        height: 70px;
        padding-bottom: 10px;
    }
    .carrusel{
        display: none;
    }
    .AgusLerej{
        font-size: 12px;
        margin: auto;
    }
    p{
        font-size: 12px;
    }
    .premio{
        display: none;
    }
    .portadaAlbum{
        height: 40px;
    }
    .deezer{
        height: 40px;
    }
    .total{
        display: grid;
        grid-template-rows: 0.2fr 0.1fr 4.9fr 0.2fr;
    }
    .triple{
        margin-top: 10px;
    }
    .arriba{
        display: none;
    }
}
@media(max-width: 320px){
    header{
        display: grid;
        grid-template-columns: none; 
        align-items: center;
        grid-template-rows: 0.5r 0.5fr 0.5fr 0.5fr;
        font-size: 8px;
    }
    .total{
        grid-template-rows: 0.2fr 0.1fr 2fr 0.2fr;
    }
    .AgusLerej{
        font-size: 10px;
    }
    .albumblock{
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 95px;
    }
    .trackblock{
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 95px;
    }
    .artistblock{
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 95px;
        height: 123.6px;
    }
    .portadaAlbum{
        width: 50x;
        height: 50px;
    }
    .nombrecancion{
        display: block;
    }
    footer{
        margin-top: 50px;
    }
}