header{
    display: grid;
    background-color: rgba(255, 68, 0, 0.61);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border-radius: 10px;
    border: solid #353535 1.5px;
    
}
body{
    background-image: url(../img/fondo2.jpg);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}
.intermedio{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 40px;
    gap: 20px;
}
.premio{
    border-radius: 10px;
    background-color: rgba(255, 68, 0, 0.61);
    border: solid #353535 1.5px;
    margin-top: 10px;
}
.buscador{
    border-radius: 10px;
    border: solid #353535 1.5px;
    background-color: rgba(182, 178, 178, 0.89);
    margin-top: 10px;
}
.carrusel{
    background-color: grey;
    height: 300px;
    border-radius: 10px;
    border: solid #353535 1.5px;
    margin-top: 10px;
    text-align: center;
}
.triple{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;

    gap: 20px;
    height: 400px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.tracks{
    display: grid;
     grid-template-rows: 1fr 10fr;
     gap: 8px;
     text-align: center;
     
}
.tracksarriba{
    background-color: rgba(255, 68, 0, 0.61);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #353535 1.5px;
}
.abajo{
    background-color: rgba(255, 68, 0, 0.61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    border: solid #353535 1.5px;
}

.albums{
    border: white 1px;
    border-radius: 10px;
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 10fr;
}
.arribaalbum{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 68, 0, 0.61);
    border: solid #353535 1.5px;

}
.abajo2{
    background-color: rgba(255, 68, 0, 0.61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #353535 1.5px;
}
.artist{
    border: white 1px;
    border-radius: 10px;
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr 10fr;
}

.ArtistArriba{
    background-color: rgba(255, 68, 0, 0.61);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid #353535 1.5px;
}
.abajo3{
    background-color: rgba(255, 68, 0, 0.61);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid #353535 1.5px;
}
.arriba{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    color: white;
}
.footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
.deezer{
    text-align: right;
    padding-right: 10px;
}
.trackblock{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    border-bottom: solid black;
    
}
.albumblock{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    border-bottom: solid black;
}
.artistblock{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px;
    border-bottom: solid black;
}
