header{
    display: grid;
    background-color: rgba(255, 68, 0, 0.61);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    border: solid #353535 1.5px;    
}
.logo{
    margin: auto;
}
.titulos{
    margin: auto;
}
body{
    background-image: url(../img/fondo2.jpg);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    
}
.Canciones{
    margin-top: 20px;
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
   background-color: rgba(255, 68, 0, 0.61);
    text-align: center;
    border-radius: 10px;
    width: 475px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    margin-top: 20px;
    
 
}
h1{
    font-size: 25px;
}
.arriba{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    color: white;

}
.footer{
    background-color: rgba(255, 68, 0, 0.61);
    border-radius: 10px;
    border: solid #353535 1.5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
}
.deezer{
    text-align: right;
    padding-right: 10px;
}
.containers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}