header{
    display: grid;
    background-color: rgba(255, 68, 0, 0.822);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: white 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    border-radius: 10px;
    border: solid #353535 1.5px;
    margin-bottom: 20px;
    
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    
}
.Canciones{
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
   background-color: rgba(255, 68, 0, 0.822);;
    text-align: center;
    border-radius: 10px;
    width: 500px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    
 
}
h1{
    font-size: 25px;
}
.arriba{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    color: white;
   
    border: solid black 1px;

}